<div class="game-canvas-container">
  <canvas #gameCanvasEl id="gameCanvas"></canvas>
</div>

<div class="game-gui" id="gameGUI">
  <div class="gui-component enemy-health-gui-container" id="enemyHealthContainer">
  </div>
  <div class="gui-component health-gui-container" id="healthContainer">
  </div>
  <div class="gui-component ammo-gui-container" id="ammoContainer">
  </div>
  <div class="gui-component aim-gui-container" id="aimContainer">
    <div class="outer-aim" id="aim" #aim>
      <div class="inner-aim">
        <div class="vertical-cross">
        </div>
        <div class="horizontal-cross">
        </div>
        <div class="inner-circle">
        </div>
      </div>
    </div>
  </div>
</div>
